<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
 	<!-- 这些都交给springmvc 管理 因为spring无法管理servlet -->
   
    <!-- 扫描注解 -->
    <context:component-scan base-package="hnu.mn.controller"></context:component-scan>
  
    <!-- 注解驱动 -->
    <mvc:annotation-driven></mvc:annotation-driven>
    
    <!-- 静态资源 全部放行  要不然认为是控制器-->
    <mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
    <mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
    <mvc:resources location="/files/" mapping="/files/**"></mvc:resources>

	<!-- 视图解析器 ，主要做页面跳转功能-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
	<property value="/WEB-INF/page/" name="prefix"/>
	<property value=".jsp" name="suffix"/>
	</bean>

	<!-- 配置拦截器 ，拦截请求URL-->
	<mvc:interceptors>
	<bean class="hnu.mn.interceptor.LoginInterceptor"/>
	</mvc:interceptors>
	
	
</beans>