<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hnu.mn.mapper.RoleMapper">
	
	<!--根据用户ID查找角色 ID -->
	<select id="selByUserID" resultType="int">
		select roleID from sys_user_role where userID=#{userID};
	</select>
	
	<!--根据角色ID查找角色 -->
	<select id="selByRoleID4RoleName" resultType="hnu.mn.pojo.Role">
		select * from sys_role where roleID=#{roleID};
	</select>
	
	<!--注册完用户后给与默认角色，角色ID为2 -->
	<insert id="insUserRoleDefaultRegist">
		insert into sys_user_role values(default,#{userID},2);
	</insert>
	
</mapper>