<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hnu.mn.mapper.UserMapper">
	<!--根据帐户和密码查找用户  -->
	<select id="selByUsernamePassword" resultType="hnu.mn.pojo.User">
		select * from sys_user where userAccount=#{userAccount} and password=#{password};
	</select>
	
	<!--根据注册信息注册用户 0代表可用  -->
	<insert id="insUser">
		insert INTO sys_user values(default,#{userAccount} , #{username}, #{password}, 0,
		#{telephone}, #{email});
	</insert>
	
	<!--检查用户Account是否可用  -->
	<select id="selUser2CheckUserAcount" resultType="hnu.mn.pojo.User">
		select * from sys_user where userAccount=#{userAccount} ;
	</select>
	
	
	<!--管理员根据用户ID查找用户  -->
	<select id="selByUserID" resultType="hnu.mn.pojo.User">
		select * from sys_user where userID=#{userID};
	</select>
</mapper>