<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hnu.mn.mapper.UserMapper">
	<!--根据用户名和密码查找用户ID  -->
	<select id="selByUsername" resultType="hnu.mn.pojo.User">
		select * from t_user where userName=#{userName} and passWord=#{passWord};
	</select>

</mapper>